.question__image {
  display: block;
  max-width: 400px;
  max-height: 400px;
  width: 100%;
}

.question__header {
  margin-bottom: $margin;
}

.question__image {
  margin: 0 auto;
}

.question__name {
  font-family: $calibre-medium;
}
