#header {
  display: flex;

  align-items: center;
}

.header__title {
  width: 70%;

  color: $blue;
}

.header__timer {
  width: 30%;

  font-weight: bold;
  text-align: center;

  &::before {
    content: 'Time: ';

    font-weight: normal;
  }
}
