#header {
  display: flex;

  align-items: center;
}

.header__title {
  width: 70%;

  a, a:active, a:visited, a:hover {
    color: $blue;
  }
}

.header__timer {
  width: 30%;

  font-family: $calibre-medium;
  text-align: center;

  &::before {
    content: 'Time: ';

    font-family: $calibre-light;
  }
}
