* {
  box-sizing: border-box;
}

html {
  font-family: $calibre-light;
  letter-spacing: 0.04rem;
}

body {
  font-size: $standard-font-size;
  text-align: center;
  text-transform: uppercase;
}

h1 {
  padding: $margin 0;

  font-family: $verlag;
  font-size: $xlarge-font-size;
  font-weight: 800;
  letter-spacing: 0.2rem;
}

button {
  border: 0;

  background-color: $blue;
  border-radius: 5px;

  color: $white;
  font-family: $verlag;
  font-size: $standard-font-size;
  font-weight: 600;
  letter-spacing: 0.2rem;
  text-transform: uppercase;

  min-height: 50px;

  padding: 0 3rem;

  margin-top: $margin;

  &.question__button {
    width: 45%;
  }
}

a {
  text-decoration: none;
}
