// TYPOGRAPHY
$verlag: 'Verlag A', 'Verlag B', sans-serif;
$calibre-light: 'Calibre Light', sans-serif;
$calibre-medium: 'Calibre Medium', sans-serif;

$xlarge-font-size: 1.5rem;
$standard-font-size: 1rem;

$margin: 20px;

// COLORS
$grey: #eee;
$blue: #00237e;
$green: hsla(95, 100%, 65%, 1);
$red: hsla(0, 100%, 65%, 1);
$white: #fff;
